/*==========================Tag Selectors=====================================*/
h1 {
  color: red;
  font-size: 40px;
}

/*
img {
  background-color: red;
}
*/

/*============================element.class Selectors=========================*/
/*
img.bacon {background-color:green;}
img.broccoli{backgroundcolor:red;}
*/

/*==========================Class Selectors===================================*/
.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

/*=============================Id Selectors===================================*/
#heading {
  color: blue;
}

